:root {
  --color-dark: #000;
  --color-light: #fff;
  --color-mild: rgb(128, 128, 128);
  --bg-size-end: 4.2;
  --dur: .3s;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #57bd84;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label[for=box] {
  outline: none;
  user-select: none;
  font-size: 2.5rem;
  padding: 5px;
  cursor: pointer;
  border-radius: .4rem;
  border: .3rem solid var(--color-dark);
  background: var(--color-light);
  position: relative;
  animation-name: move;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label[for=box]:active {
  background: var(--color-mild);
}

@keyframes move {
  0% {top: -200px; left: 100px;}
  25% {top: 100px; left: 0px;}
  50% {top: 50px; left: 150px;}
  75% {top: 25px; left: 150px;}
  100% {top: 50px; left: 25px;}
}

@keyframes move-plus {
  0% {top: 400px; opacity: .8;}
  25% {top: 300px; opacity: .6;}
  50% {top: 200px; opacity: .4;}
  75% {top: 100px; opacity: .2;}
  100% {top: 0px; opacity: 0;}
}
