:root {
  --color-dark: #000;
  --color-light: #fff;
  --color-mild: #808080;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #57bd84;
}

button#click {
  outline: none;
  user-select: none;
  font-size: 2.5rem;
  padding: 5px;
  cursor: pointer;
  border-radius: .4rem;
  border: .3rem solid var(--color-dark);
  background: var(--color-light);
}

button#click:active {
  background: var(--color-mild);
  transform: scale(1.1);
}

div#top-left-corner {
  display: flex;
  align-items: center;
  position: absolute;
  left: 15px;
  top: 25px;
}

div#top-left-corner div#counter-box {
  display: flex;
  justify-content: space-around;
  background-color: var(--color-light);
  padding: 10px;
  border-radius: 10px;
  width: 150px;
  margin-right: 15px;
}

b#counter {
  color: red;
}

span#refresh {
  cursor: pointer;
  user-select: none;
}

@keyframes move-plus {
  0% {
    top: 45vh;
    opacity: .8;
  }
  25% {
    top: 35vh;
    opacity: .6;
  }
  50% {
    top: 25vh;
    opacity: .4;
  }
  75% {
    top: 15vh;
    opacity: .2;
  }
  100% {
    top: 5vh;
    opacity: 0;
  }
}
